rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura en las colecciones del sistema de bodega
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
